

<% if @download.fetching_manifest? %>
  <script>
    // Set up automatic download status updates
    window.DownloadStatus.init(<%= @download.id %>, "<%= @download.status %>");
  </script>
<% end %>


<div class="cf-efolder-header cf-app-segment">
    <h3 class="cf-push-left cf-name-header cf-efolder-name" id="correspondent-name">
      <%=@download.veteran_name  %>
    </h3>
<div class="cf-txt-uc cf-efolder-id-control cf-push-right ">
      Veteran  ID &nbsp;

  <button type="submit" title="Copy to clipboard" class="cf-apppeal-id" data-clipboard-text="<%=@download.veteran_name%>">
        <%= @download.file_number %>
        <%= svg_icon(:appeal) %>
      </button>
</div>
</div>



<% fetch_button_text = "Start retrieving eFolder" %>

<div class="<%= 'cf-app-msg-screen' if @download.no_documents? %> cf-app-segment cf-app-segment--alt">

  <% if @download.fetching_manifest? %>
    <%#= render "user_header" %>
    <%= page_loading_indicator "We are gathering the list of files in the eFolder now..." %>

  <% elsif @download.no_documents? %>
      <h1 class="cf-msg-screen-heading">No Documents in eFolder</h1>
      <h2 class="cf-msg-screen-deck">eFolder Express could not find any documents in the eFolder with Veteran ID #<%= @download.file_number %>.
        It's possible this eFolder does not exist. </h2>
      <p class="cf-msg-screen-text">Please check the Veteran ID number and <%= link_to "search again", root_path %>.</p>

  <% elsif @download.vbms_connection_error? %>
    <%#= render "user_header" %>
    <div class="usa-alert usa-alert-error" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Can't connect to VBMS</h3>
        <p class="usa-alert-text">
          Please give VBMS a few moments to come back online, then try searching for the eFolder again.
        </p>
        <p class="usa-alert-text"><%= link_to "Try again", root_path %></p>
      </div>
    </div>

  <% elsif @download.vva_connection_error? %>
    <%#= render "user_header" %>
    <div class="usa-alert usa-alert-error" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Can't connect to Virtual VA</h3>
        <p class="usa-alert-text">
          Please give Virtual VA a few moments to come back online, then try searching for the eFolder again.
        </p>
        <p class="usa-alert-text"><%= link_to "Try again", root_path %></p>
      </div>
    </div>

  <% elsif @download.pending_confirmation? %>
    <%#= render "user_header" %>
    <% if vva_feature_enabled? %>
      <p>
        eFolder Express found a total of <%= @download.documents.count %> documents
        <span id="vva-tour-2">(<%= downloaded_from_vbms %> from VBMS and
        <%= downloaded_from_vva %> from VVA/LCM)</span> for
        <%= @download.veteran_name %> #<%= @download.file_number %>.
        Verify the Veteran ID and click the <%= fetch_button_text %>
        button below to start retrieving the eFolder.
      </p>
    <% else %>
      <p>
        eFolder Express found <%= @download.documents.count %> files in eFolder #<%= @download.file_number %>
        (<%= @download.veteran_name %>).
        Verify the ID # and click the <%= fetch_button_text %> button below to retrieve the files from VBMS.
      </p>
    <% end %>

    <p>
      <%= button_to fetch_button_text, start_download_path(@download), method: :post, class: "cf-submit" %>
    </p>

    <div class="ee-document-list">
      <table class="usa-table-borderless ee-documents-table" summary="Files in veteran's eFolder">
      <thead>
        <tr>
          <th scope="col">Filename</th>
          <th scope="col" id="vva-tour-3">Source</th>
          <th scope="col">Receipt Date</th>
        </tr>
      </thead>
      <tbody>
        <% @download.documents.each do |document| %>
          <tr>
            <td class="ee-filename-row"><%= document.type_name %></td>
            <td><%= document.from_vva? ? "VVA/LCM" : "VBMS" %></td>
            <td><%= document.received_at && document.received_at.to_formatted_s(:short_date) %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="cf-app-segment">
  <% if @download.pending_confirmation? %>
    <%= button_to fetch_button_text, start_download_path(@download), method: :post, class: "ee-right-button cf-submit" %>
  <% end %>

  <%= link_to "Start over", root_path %>
  <% if vva_feature_enabled? && @download.pending_confirmation? %>
    <script>
      window.VVATour.initConfirmPage(<%= should_show_vva_coachmarks? %>);
    </script>
  <% end %>
</div>
