<!-- This modal is displayed to make sure the user knows that the zip she's downloading does not contain all of the records for a veteran due to errors-->

<%
  modal_id = "confirm-download-anyway"
%>
<section class="cf-modal" id="<%= modal_id %>" role="alertdialog" aria-labelledby="<%= modal_id %>-title" aria-describedby="<%= modal_id %>-desc">

  <div class="cf-modal-body">
    <!-- Modal box messaging -->
    <button type="button" class="cf-modal-close cf-action-closemodal">
      <%=svg_icon(:close)%>
    </button>
    <h1 class="cf-modal-title" id="<%= modal_id %>-title">Download incomplete eFolder?</h1>
    <p class="cf-modal-text" id="<%= modal_id %>-desc">
      Errors were encountered when retrieving some records, so some records will not be included in this bundle. You may want to retry the fetch from VBMS.
    </p>

    <div class="cf-push-row cf-modal-controls">
      <button type="button" class="usa-button-outline cf-action-closemodal cf-push-left" data-controls="#<%= modal_id%>">Go back</button>
      <a href="<%= download_download_path(@download) %>" class="cf-push-right usa-button usa-button-secondary">Download anyway</a>
    </div>
    <!-- /modal box messaging -->
  </div>
</section>
