<div class="cf-app-segment cf-app-segment--alt">
  <% if @download.complete? %>
    <% if failed_documents.any? %>
      <div class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Some files couldn't be added to eFolder</h3>
          <p class="usa-alert-text">
            eFolder Express wasn't able to retrieve some files. Click on the 'Errors' tab below to view them
          </p>
          <p>
            You can still download the rest of the files by clicking the 'Download anyway' button below.
          </p>
          <ul class="ee-button-list">
            <li><%= link_to "Download anyway", "#confirm-download-anyway", {class: "usa-button cf-action-openmodal"} %></li>
            <li><%= link_to "Try retrieving eFolder again", retry_download_path(@download), {method: :post, class: "usa-button usa-button-gray"} %></li>
          </ul>
        </div>
      </div>

    <% else %>
      <div class="usa-alert usa-alert-success" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Success!</h3>
          <p class="usa-alert-text">
            All of the documents in the VBMS eFolder for #<%= @download.file_number %> are ready to download.
            Click the "Download eFolder" button below.
          </p>
          <% if vva_feature_enabled? %>
            <p>
              This efolder contains <%= @download.documents.count %> documents:
              <span id="vva-tour-4"><%= downloaded_from_vbms %> from VBMS and <%= downloaded_from_vva %> from VVA/LCM.</span>
            </p>
          <% else %>
            <p>
              (Remember that Virtual VA documents are not included in this download)
            </p>
          <% end %>
          <%= link_to "Download eFolder", download_download_path(@download), {class: "usa-button"} %>
        </div>
      </div>

    <% end %>
  <% else %>
    <p>
      <div class="usa-alert usa-alert-info" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">You can close this page at any time.</h3>
          <p class="usa-alert-text">
            You can close this page at any time and eFolder Express will continue retrieving files in the background. View progress and download eFolders from the History on the <a href="/">eFolder Express home page.</a>
          </p>
          <p>
            Note: eFolders remain in your History for <%= Download::HOURS_UNTIL_EXPIRY %> hours.
          </p>
        </div>
      </div>
    </p>

    <h1 class="cf-txt-c">Retrieving Files ...</h1>
    <p class="ee-fetching-files">
      <% if @download.estimated_to_complete_at %>
        Estimated time left: <%= distance_of_time_in_words(@download.estimated_to_complete_at, Time.zone.now, include_seconds: true) %>
        (<%= documents_in_progress.count %> of <%= @download.number_of_documents %> files remaining)
      <% end %>
    </p>

    <div class="progress-bar">
      <span style="width: <%= @download.progress_percentage %>%;">
        Progress: <%= @download.progress_percentage %>%
      </span>
    </div>
  <% end %>

  <div class="cf-tab-navigation">
    <button class="cf-tab <% if current_tab == "progress" %>cf-active<% end %>" data-tab="progress"
      <% if documents_in_progress.empty? %>disabled<% end %>>
      <span>
        <span>
          <%= svg_icon(:progress) %> Progress (<%= documents_in_progress.count %>)
        </span>
      </span>
    </button>
    <button class="cf-tab <% if current_tab == "completed" %>cf-active<% end %>" data-tab="completed"
      <% if completed_documents.empty? %>disabled<% end %>>
      <span>
        <span>
          <%= svg_icon(:success) %> Completed (<%= completed_documents.count %>)
        </span>
      </span>
    </button>
    <button class="cf-tab <% if current_tab == "errored" %>cf-active<% end %>" data-tab="errored"
      <% if failed_documents.empty? %>disabled<% end %>>
      <span>
        <span>
          <%= svg_icon(:failed) %> Errors (<%= failed_documents.count %>)
        </span>
      </span>
    </button>
  </div>

  <div class="cf-tab-content">
    <%if @download.documents.where(download_status: current_document_status).empty? %>
      <p class="cf-txt-c">
        There are no documents here.
      </p>
    <% else %>
      <table class="usa-table-borderless ee-documents-table" summary="Status of veteran eFolder file downloads">
      <thead>
        <tr>
          <th scope="col"><span class="usa-sr-only">Status</span></th>
          <th scope="col">Filename</th>
          <% if current_tab == "errored" %>
            <th scope="col">Document ID</th>
          <% end %>
          <th scope="col">Source</th>
          <th scope="col">Receipt Date</th>
        </tr>
      </thead>

      <tbody>
        <% @download.documents.where(download_status: current_document_status).each do |document| %>
          <tr class="document-<%= document.download_status %>">
            <td class="ee-status-row">
              <%= svg_icon(document.download_status_icon) %>
            </td>
            <td class="ee-filename-row"><%= document.type_name %></td>
            <% if current_tab == "errored" %>
              <td class="ee-doc-id-row"><%= document.filename_doc_id %></td>
            <% end %>
            <td><%= document.from_vva? ? "VVA/LCM" : "VBMS" %></td>
            <td><%= document.received_at && document.received_at.to_formatted_s(:short_date) %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="cf-app-segment">
  <% if @download.complete? %>
      <% if @download.documents.failed.any? %>
        <%= link_to "Download anyway", "#confirm-download-anyway", {class: "usa-button cf-action-openmodal"} %>
      <% else %>
        <%= link_to "Download eFolder", download_download_path(@download), {class: "usa-button ee-right-button"} %>
      <% end %>
  <% else %>
    <button class="usa-button-disabled ee-right-button">Download eFolder</button>
  <% end %>
  <span><%= link_to "Search for another eFolder", root_path %></span>
</div>

<%= render partial: 'confirm_download_anyway_modal' %>

<% if @download.complete? %>
  <script>
    window.Modal.bind();
    window.DownloadProgress.complete();
  </script>
<% end %>

<% if @download.complete_success? && vva_feature_enabled? %>
  <script>
    window.VVATour.bind();
  </script>
<% end %>
