<% download_button_text = "Download Zip" %>

<div class="cf-app-segment cf-app-segment--alt">
  <% if @download.complete? %>
    <script>
      window.DownloadProgress.complete();
    </script>

    <% if @download.documents.failed.any? %>
      <div class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Trouble Fetching Files</h3>
          <p class="usa-alert-text">
            eFolder Express couldn't fetch the file(s) with an <%= svg_icon(:failed) %> below. You may be able to download them these files manually from VBMS.
          </p>
          <p>
            You can still download the files with a <%= svg_icon(:success) %> by clicking the "<%= download_button_text %>" button below.
          </p>
        </div>
      </div>

    <% else %>
      <div class="usa-alert usa-alert-success" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Success</h3>
          <p class="usa-alert-text">
            The contents of eFolder #<%= @download.file_number %> are ready to download.
            Click the "<%= download_button_text %> button
          </p>
        </div>
      </div>

    <% end %>
  <% else %>
    <p>
      <div class="usa-alert usa-alert-info" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Take a breather!</h3>
          <p class="usa-alert-text">
            You can close this window at any time and get back to this page from the eFolder Express homepage.
          </p>
          <p>
            Note: Zip files expire within 24 hours after they've been fetched by eFolder Express.
          </p>
        </div>
      </div>
    </p>

    <div class="progress-bar">
      <span style="width: <%= @download.progress_percentage %>%;">
        Progress: <%= @download.progress_percentage %>%
      </span>
    </div>
    <p class="ee-fetching-files">
      Fetching Files...
      <% if @download.estimated_to_complete_at %>
        <br/>Estimated time left: <%= distance_of_time_in_words(@download.estimated_to_complete_at, Time.zone.now, include_seconds: true) %>
      <% end %>
    </p>

  <% end %>

  <table class="usa-table-borderless" summary="Status of veteran eFolder file downloads">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Filename</th>
      <th scope="col">Upload Date</th>
    </tr>
  </thead>
  <tbody>
    <% @download.documents.each do |document| %>
      <tr class="document-<%= document.download_status %>">
        <td class="ee-status-row">
          <%= svg_icon(document.download_status_icon) %>
        </td>
        <td class="ee-filename-row"><%= document.filename %></td>
        <td><%= document.received_at && document.received_at.to_formatted_s(:short_date) %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<div class="cf-app-segment">
  <% if @download.complete? %>
    <%= link_to "Download Zip", download_download_path(@download), {class: "usa-button ee-right-button"} %>
  <% else %>
    <button class="usa-button-disabled ee-right-button">Download Zip</button>
  <% end %>

  <span><%= link_to "Search for Another eFolder", root_path %></span>
</div>
