<div class="cf-app-segment cf-app-segment--alt ee-new-download">
  <h1>Welcome to eFolder Express!</h1>

  <% if @error == :veteran_not_found %>
    <p>
      <div class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Couldn't find an eFolder with that ID</h3>
          <p class="usa-alert-text">
            eFolder Express couldn't find an eFolder with the ID 222222222. Check to make sure you entered the ID correctly and try again.
          </p>
        </div>
      </div>
    </p>
  <% elsif @error == :access_denied %>
    <p>
      <div class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">You don't have permission to view this eFolder​</h3>
          <p class="usa-alert-text">
            It looks like you don't have permission to view this eFolder. This usually happens if the eFolder contains sensitive information.
          </p>
        </div>
      </div>
    </p>
  <% end %>

  <div class="ee-search">
    <%= form_for @download, method: :post, html: { class: "usa-search usa-search-big" } do %>
      <div role="search">
        <%= label_tag(:file_number, "Search for a VBMS eFolder to get started.") %>
        <%= search_field_tag(:file_number) %>
        <button type="submit">
          <span class='usa-search-submit-text'>Search</span>
        </button>
      </div>
    <% end %>
  </div>

  <% if recent_downloads.exists? %>
    <h2>Recent Searches</h2>
    <table class="usa-table-borderless" summary="List of recent downloads and links to download their contents">
    <thead>
      <tr class="usa-sr-only">
        <th scope="col">File Number</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% recent_downloads.each do |download| %>
        <tr id="download-<%= download.id %>">
          <td>
            <%= download.file_number %>
          </td>
          <td class="ee-actions-cell">
            <%= link_to "View Results", download_path(download) %>

            <span class="ee-download-status">
              <% if download.pending_documents? %>
                Downloading...
              <% else %>
                <%= link_to "Download Zip", download_download_path(download) %>
              <% end %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
</div>

