<div class="cf-app-segment cf-app-segment--alt ee-new-download">
  <% if @search.veteran_not_found? %>
    <p>
      <div class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">Could not find an eFolder with that Veteran ID</h3>
          <p class="usa-alert-text">
            eFolder Express could not find an eFolder with the Veteran ID #<%= @search.file_number %>.<br />
            Check to make sure you entered the ID correctly and try again.
          </p>
        </div>
      </div>
    </p>
  <% elsif @search.access_denied? %>
    <p>
      <div class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">You don't have permission to view this eFolder​</h3>
          <p class="usa-alert-text">
            It looks like you don't have permission to view this eFolder. This usually happens if the eFolder contains sensitive information.
          </p>
        </div>
      </div>
    </p>
  <% end %>

  <div class="ee-heading">
    <h1>Welcome to eFolder Express!</h1>

    <p>
      eFolder Express allows VA employees to bulk-download VBMS eFolders.<br/>
      Search for a Veteran ID number below to get started.
    </p>
  </div>

  <div class="ee-search">
    <%= form_for Download.new, method: :post, html: { class: "usa-search usa-search-big cf-form" } do %>
      <div role="search">
        <%= label_tag(:file_number, "Search for a Veteran ID number below to get started.", class: "usa-sr-only") %>
        <%= search_field_tag(:file_number) %>

        <button type="submit" class="cf-submit">
          <span class='usa-search-submit-text'>Search</span>
        </button>

        <button disabled type="submit" class="cf-loading-indicator">
          <span class='usa-search-submit-text'>Search</span>
        </button>
      </div>
    <% end %>

    <p class="cf-txt-c">
      <em>Note: eFolder Express does not currently support Virtual VA documents.</em>
    </p>
  </div>

  <% if recent_downloads.exists? %>
    <h2 class="ee-recent-searches">History</h2>
    <table class="usa-table-borderless" summary="List of recent downloads and links to download their contents">
    <thead>
      <tr class="usa-sr-only">
        <th scope="col">File Number</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% recent_downloads.each do |download| %>
        <tr id="download-<%= download.id %>">
          <td>
            <%= download.veteran_name %>
            <span class="cf-subtext">
              (<%= download.file_number %>)
              <% if download.expiration_day %>
                 - Expires on <%= download.expiration_day %>
              <% end %>
             </span>
          </td>
          <td class="ee-actions-cell">
            <% if download.complete_with_errors? %>
              <%= svg_icon(:alert) %>
            <% end %>

            <% if download.pending_documents? %>
              <%= link_to "View progress", download_path(download) %>
            <% else %>
		<%= link_to "View results »", download_path(download) %>
		<% if current_user && current_user.css_id == ENV['TEST_USER_ID']%>
		    <%= link_to "Delete Cache", delete_download_path(download), method: :post %>
		<% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
</div>
