<% content_for :page_title do %><%= @download.veteran_name %> (<%=h @download.file_number %>)<% end %>

<% if @download.confirmed? %>
  <script>
    // Set up automatic download progress updates
    window.DownloadProgress.init(<%= @download.id %>);
  </script>

  <div id="download-progress">
    <%= render "progress" %>
  </div>
<% else %>
  <%= render "confirm" %>
<% end %>
