<% content_for :head do %>
  <script>
    var data = <%= raw @json %>
  </script>
  <%= javascript_include_tag 'stats' %>
<% end %>

<div class="cf-app-segment cf-app-segment--alt">
  <h1 class="cf-txt-c">eFolder Express Dashboard</h1>

  <ul class="cf-tab-navigation">
    <% Stats::INTERVALS.each do |interval| %>
      <li>
        <%= link_to interval.to_s.capitalize, stats_path(interval),
              class: "cf-tab #{(@stats[0].interval == interval) && "cf-active"}" %>
      </li>
    <% end %>
  </ul>

  <div class="ee-stats">
    <div class="ee-stats-section -activity">
      <h3>Activity</h3>
      <div class="ee-stat-panel">
        <div class="ee-stat-title">
          Active Users
        </div>
        <div class="ee-stat-figure">
          <%= @stats[0].values[:user_count] %>
        </div>
      </div>

      <div class="ee-stat-panel">
        <div class="ee-stat-title">
          Completed Downloads
        </div>
        <div class="ee-stat-figure">
          <%= @stats[0].values[:completed_download_count] %>
        </div>
      </div>

      <div class="ee-stat-panel">
        <div class="ee-stat-title">
          Documents Retrieved
        </div>
        <div class="ee-stat-figure">
          <%= @stats[0].values[:document_count] %>
        </div>
      </div>
    </div>

    <div class="ee-stats-section -searches">
      <h3>Searches</h3>
      <div class="ee-stat-panel">
        <div class="ee-stat-title">
          Successful
        </div>
        <div class="ee-stat-figure">
          <%= @stats[0].values[:complete_searches] %>
          <span class="ee-stat-unit">
            / <%= @stats[0].values[:searches_count] %>
          </span>
        </div>
      </div>

      <div class="ee-stat-panel">
        <div class="ee-stat-title">
          Not Found
        </div>
        <div class="ee-stat-figure">
          <%= @stats[0].values[:not_found_searches] %>
          <span class="ee-stat-unit">
            / <%= @stats[0].values[:searches_count] %>
          </span>
        </div>
      </div>

      <div class="ee-stat-panel">
        <div class="ee-stat-title">
          Access Denied
        </div>
        <div class="ee-stat-figure">
          <%= @stats[0].values[:access_denied_searches] %>
          <span class="ee-stat-unit">
            / <%= @stats[0].values[:searches_count] %>
          </span>
        </div>
      </div>
    </div>

    <div class="ee-stats-section -timing">
    <h3>Timing</h3>
      <div class="ee-stat-panel -toggle"
        role="button" tabindex="0"
        aria-label="Switch between median and 95th percentile statistics">
        <div class="ee-stat-option active">
          <div class="ee-stat-title">
            Time to Manifest (median)
          </div>
          <div class="ee-stat-figure">
            <%= format_time_duration_stat(@stats[0].values[:median_time_to_fetch_manifest]) %>
          </div>
        </div>
        <div class="ee-stat-option">
          <div class="ee-stat-title">
            Time to Manifest (95th percentile)
          </div>
          <div class="ee-stat-figure">
            <%= format_time_duration_stat(@stats[0].values[:time_to_fetch_manifest]) %>
          </div>
        </div>
      </div>

      <div class="ee-stat-panel -toggle"
        role="button" tabindex="0"
        aria-label="Switch between median and 95th percentile statistics">
        <div class="ee-stat-option active">
          <div class="ee-stat-title">
            Time to Files (median)
          </div>
          <div class="ee-stat-figure">
            <%= format_time_duration_stat(@stats[0].values[:median_time_to_fetch_files]) %>
          </div>
        </div>
        <div class="ee-stat-option">
          <div class="ee-stat-title">
            Time to Files (95th percentile)
          </div>
          <div class="ee-stat-figure">
            <%= format_time_duration_stat(@stats[0].values[:time_to_fetch_files]) %>
          </div>
        </div>
      </div>
    </div>

    <div class="ee-stats-section -errors">
      <h3>Errors</h3>
      <div class="ee-stat-panel">
        <div class="ee-stat-title">
          Document Errors
        </div>
        <div class="ee-stat-figure">
          <%= @stats[0].values[:document_errors] %>
        </div>
      </div>
    </div>

    <h3>Most Active Users</h3>
    <table class="usa-table-no-header ee-stats-table">
      <% (@stats[0].values[:top_users] || []).each do |user| %>
        <tr>
          <td><%= user[:id] %></td>
          <td><%= pluralize(user[:count], "Download") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
